{% extends 'shop-owner/base.html' %}

{% block head %}
<title>Coffee shops</title>
{% endblock %}

{% block body %}

<div class="content">

    <div class="label"><div class="text-wrapper">Cafenele</div></div>
    <div class="shops-flex-container">
        {% for shop_name, shop_data in shops.items() %}
            <div class="shops-child">
                <img class="coffee-photo" src="{{ url_for('static', filename='img/coffee_shop.svg') }}"  style="margin-right:5px">
                <div class="text-wrapper">
                    <p>{{ shop_data['name'] }}</p>
                    <span>&#9733; 4.2</span>
                    <button data-modal-target="#modal-{{ shop_name }}">Vezi mai mult</button> 
                    <div class="modal" id="modal-{{ shop_name }}">
                        <div class="modal-header">
                            <div class="modal-title">{{ shop_data['name'] }}</div>
                            <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            Phone number: {{ shop_data['phone_nr'] }} <br><br>
                            Address: {{ shop_data['address'] }} <br><br>
                            
                            Meniu:<br><br>
                            Coffees:<br>
                            <ul style="margin-left:20px; list-style: none;">
                                {% for menu_item in shop_data.menu %}
                                    {% if menu_item['type']=='coffee' %}
                                    <li>{{ menu_item.name }} - ${{ menu_item.price }}
                                        {% if menu_item.date_added==todays_date %}
                                        ★ New ★
                                        {%endif%}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            Deserts:<br>
                            <ul style="margin-left:20px; list-style: none;">
                                {% for menu_item in shop_data.menu %}
                                    {% if menu_item['type']=='desert' %}
                                    <li>{{ menu_item.name }} - ${{ menu_item.price }}
                                        {% if menu_item.date_added==todays_date %}
                                        ★ New ★
                                        {%endif%}
                                    </li>
                                    <!-- Add additional menu item fields as needed -->
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <form action="/my-shops" method="POST" style="font-weight: 700; font-size: 15px; ">
                                Item name: <input type="text" name="item_name" id="item_name"><br>
                                Price: <input type="text" name="price" id="price"><br>
                                Item type: <input type="text" name="item_type" id="item_type"><br>
                                <input type="hidden" name="form_type" value="add_menu_item">
                                <input type="hidden" name="shop_id" value="{{ shop_name }}">
                                <input type="submit" value="Add menu item">
                            </form>
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>
            </div>
            {% endfor %}
    </div>
    <div style="display: flex; justify-content: center;">
    <form action="/my-shops" method="POST" style="text-align: center;">
        Coffeeshop name: <input type="text" name="name" id="name"><br>
        Phone number: <input type="text" name="phone_number" id="phone_number"><br>
        Address: <input type="text" name="address" id="address"><br>
        <input type="hidden" name="form_type" value="add_shop">
        <input type="submit" value="Add shop">
    </form>
    </div>
</div>


{% endblock %}