{% extends 'not-logged-in/base.html' %}

{% block head %}
<title>Coffee shops</title>
{% endblock %}

{% block body %}

<div class="content">

    <div class="label"><div class="text-wrapper">Cafenele</div></div>
    <div class="shops-flex-container">
        {% for shop_name, shop_data in shops.items() %}
            <div class="shops-child">
                <img class="coffee-photo" src="{{ url_for('static', filename='img/coffee_shop.svg') }}" style="margin-right:5px">
                <div class="text-wrapper">
                    <p>{{ shop_data.name }}</p>
                    Phone number: {{ shop_data.phone_nr }}
                    Address: {{ shop_data.address }}
                    <button class = "seemore" data-modal-target="#modal-{{ shop_name }}">Vezi mai mult</button> 
                    <div class="modal" id="modal-{{ shop_name }}">

                        <div class="modal-body">

                            <div class = "details">
                                {{ shop_data.name }}<br>
                            </div>
                            <p class = "address">{{ shop_data.address }}</p>
                            <div style="position:absolute;top:0;right:0;margin:20px;">
                                {{ generate_map_embed_code(shop_data.name + ' Timisoara') | safe }}
                            </div>
                            <p class = "menu">Meniu</p>
                            <p class = "coffees">Coffees:</p>
                            <ul class = "items" style="margin-left:50px; list-style: none;">
                                {% for menu_item in shop_data.menu %}
                                    {% if menu_item['type']=='coffee' %}
                                    <li style="display:flex; flex-direction: row;">
                                        <div style="font-size:18px;">
                                            {% if menu_item.date_added==todays_date %}
                                            ★ New ★&nbsp;
                                            {%endif%}
                                        </div>
                                        <div>{{ menu_item.name }} ...................... ${{ menu_item.price }}</div>
                                        <div>
                                        <form action="/add-to-cart" method="POST">
                                            <input type="hidden" name="item_name" value="{{ menu_item.name }}">
                                            <input type="hidden" name="item_price" value="{{ menu_item.price }}">
                                            <input type="hidden" name="shop_name" value="{{ shop_name }}">
                                        </form>
                                    </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <p class = "desserts">Desserts:</p>
                            <ul class = "items" style="margin-left:50px; list-style: none;">
                                {% for menu_item in shop_data.menu %}
                                    {% if menu_item['type']=='desert' %}
                                    <li style="display:flex; flex-direction: row;">
                                        <div style="font-size:18px;">
                                            {% if menu_item.date_added==todays_date %}
                                            ★ New ★&nbsp;
                                            {%endif%}
                                        </div>
                                        <div>{{ menu_item.name }} ...................... ${{ menu_item.price }}</div>
                                        <div>
                                        <form action="/add-to-cart" method="POST">
                                            <input type="hidden" name="item_name" value="{{ menu_item.name }}">
                                            <input type="hidden" name="item_price" value="{{ menu_item.price }}">
                                            <input type="hidden" name="shop_name" value="{{ shop_name }}">
                                        </form>
                                    </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div> 
                        <button data-close-button class="close-button">&#10149;</button>    
                    </div>
                    
                    <div id="overlay"></div>
                </div>
            </div>
            {% endfor %}
    </div>

</div>

{% endblock %}