{% extends 'delivery/base.html' %}

{% block head %}
<title>Comenzi</title>
{% endblock %}

{% block body %}
<div class="label"><div class="text-wrapper">Comenzi</div></div>

        <div class="items" style = "margin-left: 5%;">
        {% for order_id, order_data in shop_orders.items() %}
            <br>
            Id comandă: {{order_id}}<br>
            Status comandă:
            {% if can_complete_order(order_data) %}
                {% if order_data['status']==0 %}
                <form action="/orders" method="post">
                    <input type="hidden" name="form_type" value="complete_order">
                    <input type="hidden" name="order_id" value="{{ order_id }}">
                    <button type="submit" class="submit-order">Comanda este gata</button><br>
                </form>
                {%endif%}
                {% if order_data['status']==1 %}
                <form action="/orders" method="post">
                    <input type="hidden" name="form_type" value="order_arriving_soon">
                    <input type="hidden" name="order_id" value="{{ order_id }}">
                    <button type="submit" class="submit-order">Comanda ajunge imediat</button><br>
                </form>
                {%endif%}
                {% if order_data['status']==2 %}
                <form action="/orders" method="post">
                    <input type="hidden" name="form_type" value="deliver_order">
                    <input type="hidden" name="order_id" value="{{ order_id }}">
                    <button type="submit" class="submit-order">Comanda a fost livrată</button>
                </form>
                {% endif %}
            {% else %}
            <button class="submit-order">Comanda nu este gata încă</button>
            {%endif %}

            {% set address = get_user_address(order_data['user_id']) %}
            Adresă de livrare: {{address}}<br>
            
            {% set phonenr = get_user_phonenr(order_data['user_id']) %}
            Număr telefon client: {{phonenr}}<br>

            {% set name = get_user_name(order_data['user_id']) %}
            Nume client: {{name}}
            <br><br>
            {% for shop_id, shop_data in order_data['shops'].items() %}
                Numele magazinului: {{ shop_data['shop_name'] }}<br>
                Adresa magazinului: {{ shop_data['address'] }}<br><br>
                <ul type="none">
                {% for item in shop_data['items'] %}
                    <li>{{ item['name'] }} - ${{ item['price'] }}</li>
                {% endfor %}
                </ul>
                <br>
            {%endfor%}


            <hr style = "width:15%;border-top:2px dashed #260507;margin-bottom: 1%;">
        {% endfor %}
    </ul>
</div>
{% endblock %}