{% extends 'customer/base.html' %}

{% block head %}
<title>My account</title>
{% endblock %}

{% block body %}
<div class="label"><div class="text-wrapper">Editează-ți contul</div></div>

<div class="account">
    <form action="/edit-account" method="POST" autocomplete="off">
        Nume:   <input type="text" name="name" value="{{ user_data.name }}"> 
        <br>
        Număr de telefon:  <input type="text" name="phonenr" value="{{ user_data.phonenr }}">
        <br>
        Adresă de livrare: <input type="text" name="address" value="{{ user_data.address }}">
        <input type="submit" class="submit" value="Salvează modificările">
    </form>
    <form action="/delete-account" method="POST" autocomplete="off">
        <input type="submit" class="submit" value="Șterge contul" style="background-color: #8b0000; color:white">
    </form>
</div>

{% endblock %}