{% extends 'customer/base.html' %}

{% block head %}
<title>Coffee shops</title>
{% endblock %}

{% block body %}

<div class="content">

    <div class="label"><div class="text-wrapper">Cafenele</div></div>
    <div class="shops-flex-container">
        {% for shop_name, shop_data in shops.items() %}
            <div class="shops-child">
                <img class="coffee-photo" src="{{ url_for('static', filename='img/coffee_shop.svg') }}" style="margin-right:5px">
                <div class="text-wrapper">
                    <p>{{ shop_data.name }}</p>
                    <span>&#9733; 4.2</span>
                    <button data-modal-target="#modal-{{ shop_name }}">Vezi mai mult</button> 
                    <div class="modal" id="modal-{{ shop_name }}">
                        <div class="modal-header">
                            <div class="modal-title">{{ shop_data.name }}</div>
                            <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            Phone number: {{ shop_data.phone_nr }} <br><br>
                            Address: {{ shop_data.address }} <br><br>
                            Meniu:<br><br>
                            Coffees:<br>
                            <ul style="margin-left:20px; list-style: none;">
                                {% for menu_item in shop_data.menu %}
                                    {% if menu_item['type']=='coffee' %}
                                    <li style="display:flex; flex-direction: row;">
                                        <div>{{ menu_item.name }} - ${{ menu_item.price }}</div>
                                        <div>
                                        {% if menu_item.date_added==todays_date %}
                                        ★ New ★
                                        {%endif%}
                                        </div>
                                        <div>
                                        <form action="/add-to-cart" method="POST">
                                            <input type="hidden" name="item_name" value="{{ menu_item.name }}">
                                            <input type="hidden" name="item_price" value="{{ menu_item.price }}">
                                            <input type="hidden" name="shop_name" value="{{ shop_name }}">
                                            <button type="submit" style="margin-left:5px">+</button>
                                        </form>
                                    </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            Deserts:<br>
                            <ul style="margin-left:20px; list-style: none;">
                                {% for menu_item in shop_data.menu %}
                                    {% if menu_item['type']=='desert' %}
                                    <li style="display:flex; flex-direction: row;">
                                        <div>{{ menu_item.name }} - ${{ menu_item.price }}</div>
                                        <div>
                                        {% if menu_item.date_added==todays_date %}
                                        ★ New ★
                                        {%endif%}
                                        </div>
                                        <div>
                                        <form action="/add-to-cart" method="POST">
                                            <input type="hidden" name="item_name" value="{{ menu_item.name }}">
                                            <input type="hidden" name="item_price" value="{{ menu_item.price }}">
                                            <input type="hidden" name="shop_name" value="{{ shop_name }}">
                                            <button type="submit" style="margin-left:5px">+</button>
                                        </form>
                                    </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul> 
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>
            </div>
            {% endfor %}
    </div>

</div>

{% endblock %}