{% extends 'customer/base.html' %}

{% block head %}
<title>Coșul meu de cumpărături</title>
{% endblock %}

{% block body %}

<div class="label"><div class="text-wrapper">Coșul Meu</div></div>
<div style="display: flex; flex-direction: column;">

<div style="display: flex; flex-direction: row; margin-left:5%;margin-top:2%">
    <a href="/shopping-cart"><button class="buttons-cart" style="margin-left: 5%;">Coșul meu de cumpărături</button><br></a>
    <a href="/my-orders"><button class="buttons-cart" style="margin-left: 5%;">Comenzile mele</button></a>
</div>
<div style="padding:20px; margin-left:5%">
    {% if items_clean %}
    {% for shop, shop_items in items_clean.items()%}
        <ul>
            <span class = "title-cart" style="margin-left: 0px;">Cafenea: {{shop}}</span>
            {% for item in shop_items %}
                <li style = "list-style-type: none;display:flex;align-items: row;"> 
                    <span class = "items">{{ item.name }} - ${{ item.price }}</span>
                    <form action="{{ url_for('remove_from_cart', index=loop.index0) }}" method="POST">
                        <input type="hidden" name="form_type" value="remove_item_from_cart">
                        <button type="submit" class="delete-item">&times;</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        {% endfor %}
        <form action="/place-order" method="POST">
            <input type="hidden" name="form_type" value="place_order">
            <button type="submit" class="submit-order">Trimite comanda!</button>
        </form>
    {% else %}
        <p style="margin-left: 0;" class = "title-status">Coșul tău de cumpărături este gol!</p>
    {% endif %}
</div>

</div>

{% endblock %}