*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html{
	scroll-behavior:smooth;
}

body{
	margin:0;
	background: #f2ad59;
	background-size:cover;
	background-attachment:fixed;
	height: 100%;
}

#about_us{
  position:absolute;
  bottom:0;
  justify-content: center;
  width:100%;
  font-size:18px;
	font-family: "Lexend-Medium", Helvetica;
  font-weight:bold;
  margin-bottom:10px;
}

/*Navigation Bar*/
.nav{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  list-style:none;
  text-align:center;
}
.nav li{
  display:inline-block;
	width:13%;
	margin:0px;
  padding:20px;
	text-decoration:none;
	font-size:18px;
	font-family: "Lexend-Medium", Helvetica;
	font-weight:bold;
  margin-right:10px;
}
.nav a{
  /* display: flex; */
  text-decoration:none;
	color:#FFFFFF;
}
.nav a:hover{
	color:#260507;
}

.cafeinated-logo {
  position: absolute;
  width: 221px;
  height: 45px;
  margin-left: 10px;
  margin-top: 8px;
}

/*End of Navigation Bar*/

/*Coffee Shops box*/
#div_shops{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#shops {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 800px;
}

#shops td, #shops th {
  border: 1px solid #ddd;
  padding: 8px;
}

#shops tr:nth-child(even){background-color: red;}

#shops tr:hover {background-color: red;}

#shops th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}

.seemore
{
  background-color: transparent; 
  border: none;
  font-weight: 700;
  color: #260507;
  font-size: 15px;
  margin-top:10%;
  cursor:pointer;
}

.seemore:hover{
  color: #743200;
}

.shops-flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  margin-left: 50px;
}

.shops-child{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:10px;
  width: 300px;
  height: 140px;
  margin: 10px;
  text-align: left;
  font-size: 15px;
}

.shops-child .coffee-photo{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  margin-left:5%;
}

.shops-child .text-wrapper {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-family: "Lexend-Medium", Helvetica;
  font-weight: 700;
  color: #260507;
  font-size: 15px;
}

/*Main page*/
.box {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: calc(100% - 95%);;
}
.box img {
  width: 400px;
  height: 400px;
}

.box .main-text {
  font-family: "Lexend-Medium", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
}

.box .text-wrapper {
  font-weight: 500;
}

.box .span {
  font-family: "Lexend Giga-Black", Helvetica;
  font-weight: 900;
}

.box .account-text {
  font-family: "Lexend-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 100px;
}

.box .text-wrapper-2 {
  font-weight: 700;
}

.box .text-wrapper-3 {
  font-family: "Lexend-Regular", Helvetica;
}
/*End of Coffee Shops page*/

/*Titles*/
.label {
  display:column;
  justify-content:flex-start;
  margin-left:5%;
  margin-top:0.2px;
}

.label .text-wrapper {
  display:flex;
  justify-content:flex-start;
  font-family: "Lexend Zetta-Black", Helvetica;
  font-weight: 900;
  color: #260507;
  font-size: 70px;
}

.about-us-text {
  display:flex;
  justify-content:flex-start;
  font-family: "Lexend-Medium", Helvetica;
  font-weight: 500;
  color: #260507;
  font-size: 20px;
  margin-left:5%;
  margin-right: 5%;
  margin-top:2%;
}

/*Person Icons*/
.person .overlap {
  display: flex;
  justify-content: center;
  margin-left:15%;
  margin-right: 15%;
}

.person .union {
  width: 300px;
  height: 300px;
}

.person .overlap .text{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.person .mail-contact {
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  color: #260507;
  font-size: 20px;
}

.person .telefon {
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  color: #260507;
  font-size: 20px;
}
.person .text span {
  margin-right: 8px; 
}

/*account*/
.account
{
  display:flex;
  justify-content:flex-start;
  margin-left:5%;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.edit-form
{
  display:column;
  justify-content:flex-start;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.account-details
{
  display:column;
  justify-content:flex-start;
  margin-left:6%;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.edit-account
{
  background-color: #260507;
  margin-top:20px;
  font-family: "Lexend-Regular", Helvetica;
  cursor:pointer;
  font-weight: 700;
  height: 50px;
  width:150px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  cursor:pointer;
  border:0;
}

.edit-account:hover
{
  color:#260507;
  background-color: #e3c57e;
  border : 0;
}

.create_account
{
  display:column;
  justify-content:flex-start;
  margin-top:2%;
  margin-left:50px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.create_account .not_account 
{
  display:flex;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  margin-top:10px;
  color: #ffffff;
  font-size: 20px;
}

.create_account .not_account_coffee 
{
  display:flex;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  margin-top:10px;
  color: #ffffff;
  font-size: 20px;
}

a
{
  text-decoration: none;
  color:#260507
}

.create_account .text-wrapper
{
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
}

.create_account .span 
{
  font-family: "Lexend-Bold", Helvetica;
  font-weight: 800;
}

.create_account .span:hover
{
  color:#583f20;
  border : 0;
}

input {
  padding-left:5px;
  display:flex;
  margin-top:10px;
  justify-content:flex-start;
  background-color: #d1913c80;
  border-radius: 10px;
  border:0;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: normal;
  font-size: 20px;
  color: #4f0000;
  width: 300px;
  height: 40px;
}

input[type=text] {
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  color: #260507;
}

.submit
{
  display:flex;
  justify-content:center;
  background-color: #260507;
  margin-top:20px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  width: fit-content + 5px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border:0;
  cursor:pointer;
}

.submit:hover
{
  color:#260507;
  background-color: #e3c57e;
  border : 0;
}

.shops-button
{
  /* display:flex; */
  justify-content:center;
  background-color: #260507;
  margin-top:20px;
  margin-left:30%;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  text-align: center; 
  vertical-align: middle;
  line-height: 30px;
  width: 130px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border:0;
  cursor:pointer;
}
.shops-button:hover
{
  color:#260507;
  background-color: #e3c57e;
  border : 0;
}

.submit-order
{
  display:flex;
  justify-content:center;
  background-color: #260507;
  align-items: center;
  margin-top:20px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  width: fit-content;
  height: 40px;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
  border:0;
  cursor:pointer;
  margin: 10px;
}

.submit-order:hover
{
  color:#260507;
  background-color: #e3c57e;
  border : 0;
}

.buttons-cart
{
  display:flex;
  justify-content:center;
  background-color: #4b412a;
  align-items: center;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
  border:0;
  cursor:pointer;
}

.delete-item
{
  margin-left: 5px;
  border:0;
  background-color: transparent;
  color:#260507;
  font-size: 20px;
  font-weight: bold;
  cursor:pointer;
}

.buttons-cart:hover
{
  color:#260507;
  background-color: #e3c57e;
  border : 0;
}

#danger{

  background-color: #8b0000; 
  color: white;
}

#danger:hover
{
  background-color: white;
  color: #8b0000;

}

/* popup page stuff */
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: rgba(229, 172, 103, 0.5);;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  height: 80%;
  width: 80%;
  overflow: auto;
}

.details
{
  display:flex;
  flex-direction: row;
  font-family: "Lexend Zetta-Black", Helvetica;
  font-size:65px;
  color:white;
  margin-left:30px;
}

.address
{
  display:flex;
  flex-direction: row;
  font-family: "Lexend Zetta-Black", Helvetica;
  margin-bottom: 2%;
  font-size:32px;
  font-weight: normal;
  color:white;
  margin-left:30px;
}

.menu
{
  display:flex;
  flex-direction: row;
  margin-top: 2%;
  font-family: "Lexend Zetta-Black", Helvetica;
  margin-bottom: 2%;
  font-size:28px;
  color:white;
  margin-left:30px;
}

.title-cart
{
  display:flex;
  margin-bottom: 1%;
  font-size:60px;
  color:white;
  margin-left:30px;
}

.title-status
{
  display:flex;
  margin-bottom: 1%;
  font-size:30px;
  color:#260507;
  margin-left:30px;
  font-weight: bolder;
}

.title-data
{
  display:flex;
  margin-bottom: 1%;
  font-size:20px;
  color:#260507;
  margin-left:30px;
  font-weight: bold;
}

.coffees
{
  display:flex;
  flex-direction: row;
  font-family: "Lexend Zetta-Black", Helvetica;
  font-size:25px;
  font-weight: bold;
  color:#220708;
  margin-left:30px;
}

.items
{
  font-size:24px;
  font-weight: lighter;
  color:white;
  font-family: "Lexend Zetta-Black", Helvetica;
}

.addtomenu{
  background-color: transparent;
  font-weight: 200;
  font-size:25px;
  border:none;
  cursor:pointer;
  color:white;
}

h1,h2,h3,p
{
  font-family: "Lexend Zetta-Black", Helvetica;
  color:#260507;
}

.desserts
{
  display:flex;
  font-family: "Lexend Zetta-Black", Helvetica;
  flex-direction: row;
  font-size:25px;
  font-weight: bold;
  color:#220708;
  margin-left:30px;
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #260507;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button{
  position: absolute;
  bottom: 0;
  cursor: pointer;
  background-color:transparent;
  border: none;
  outline: none;
  font-size: 50px;
  font-weight: bold;
  color:white;
  transform: scaleX(-1);
  margin-left:30px;
}

.modal-body{
  padding: 10px 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 5, 7, 0.5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

table {
  font-family: "Lexend-Regular", Helvetica;
  border-collapse: collapse;
  border-radius: 15px;
  border: none;
  width: 80%;
  margin:30px;
  margin-left:5%;
  overflow: hidden;
}

td, th {
  text-align: left;
  padding: 8px;
  border: 2px solid #f2ad59;
  background-color: rgba(226, 153, 65, 0.5)
}

tr:nth-child(even) {
  background-color: rgba(229, 172, 103, 0.5)
}