*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html{
	scroll-behavior:smooth;
}

body{
	margin:0;
	background: #f2ad59;
	background-size:cover;
	background-attachment:fixed;
	height: 100%;
}

/*Navigation Bar*/
.nav{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  list-style:none;
  text-align:right;
}
.nav li{
  display:inline-block;
	width:15%;
	margin:0px;
  padding:20px;
	text-decoration:none;
	font-size:18px;
	font-family: "Lexend-Medium", Helvetica;
	font-weight:bold;
}
.nav a{
  display: flex;
  text-decoration:none;
	color:#FFFFFF;
}
.nav a:hover{
	color:#260507;
}

.cafeinated-logo {
  position: absolute;
  width: 221px;
  height: 45px;
  margin-left: 10px;
  margin-top: 8px;
}

/*End of Navigation Bar*/

/*Coffee Shops box*/
#div_shops{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#shops {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 500px;
}

#shops td, #shops th {
  border: 1px solid #ddd;
  padding: 8px;
}

#shops tr:nth-child(even){background-color: red;}

#shops tr:hover {background-color: red;}

#shops th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}

.shops-flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  margin: 10px;
}

.shops-child{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius:10px;
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: left;
  font-size: 15px;
}

.shops-child .coffee-photo{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
  margin-left:5%;
}

.shops-child .text-wrapper {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-family: "Lexend-Medium", Helvetica;
  font-weight: 700;
  color: #260507;
  font-size: 15px;
}

/*Main page*/
.box {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: calc(100% - 90%);;
}
.box img {
  width: 400px;
  height: 400px;
}

.box .main-text {
  font-family: "Lexend-Medium", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
}

.box .text-wrapper {
  font-weight: 500;
}

.box .span {
  font-family: "Lexend Giga-Black", Helvetica;
  font-weight: 900;
}

.box .account-text {
  font-family: "Lexend-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 100px;
}

.box .text-wrapper-2 {
  font-weight: 700;
}

.box .text-wrapper-3 {
  font-family: "Lexend-Regular", Helvetica;
}
/*End of Coffee Shops page*/

/*Titles*/
.label {
  display:column;
  justify-content:flex-start;
  margin-left:5%;
  margin-top:2%;
}

.label .text-wrapper {
  display:flex;
  justify-content:flex-start;
  font-family: "Lexend Zetta-Black", Helvetica;
  font-weight: 900;
  color: #260507;
  font-size: 100px;
}

.about-us-text {
  display:flex;
  justify-content:flex-start;
  font-family: "Lexend-Medium", Helvetica;
  font-weight: 500;
  color: #260507;
  font-size: 20px;
  margin-left:5%;
  margin-right: 5%;
  margin-top:2%;
}

/*Person Icons*/
.person .overlap {
  display: flex;
  justify-content: center;
  margin-left:15%;
  margin-right: 15%;
}

.person .union {
  width: 300px;
  height: 300px;
}

.person .overlap .text{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.person .mail-contact {
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  color: #260507;
  font-size: 20px;
}

.person .telefon {
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  color: #260507;
  font-size: 20px;
}
.person .text span {
  margin-right: 8px; 
}

/*account*/
.account
{
  display:flex;
  justify-content:flex-start;
  margin-left:50px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.create_account
{
  display:column;
  justify-content:flex-start;
  margin-top:2%;
  margin-left:50px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.create_account .not_account 
{
  display:flex;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  margin-top:10px;
  color: #ffffff;
  font-size: 20px;
}

.create_account .not_account_coffee 
{
  display:flex;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  margin-top:10px;
  color: #ffffff;
  font-size: 20px;
}

a
{
  text-decoration: none;
  color:#260507
}

.create_account .text-wrapper
{
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
}

.create_account .span 
{
  font-family: "Lexend-Bold", Helvetica;
  font-weight: 800;
}

input {
  display:flex;
  margin-top:10px;
  justify-content:flex-start;
  background-color: #d1913c80;
  border-radius: 52px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  font-size: 30px;
  color: #4f0000;
  width: 300px;
  height: 40px;
}

input[type=text] {
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  color: #260507;
}

.submit
{
  display:flex;
  justify-content:center;
  background-color: #260507;
  margin-top:20px;
  font-family: "Lexend-Regular", Helvetica;
  font-weight: 700;
  /* width: 250px; */
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 34px;
}

/* popup page stuff */
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1.5px solid #260507;
  border-radius: 10px;
  z-index: 10;
  background-color: #e5ac67;
  height: 80%;
  width: 80%;
  overflow: auto;
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #260507;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #e5ac67;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding: 10px 15px;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 5, 7, 0.5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}