{% extends 'admin/base.html' %}

{% block head %}
<title>Livrare</title>
{% endblock %}

{% block body %}

<div style="display: flex">

<div style="width:60%"><div class="label"><div class="text-wrapper">Curieri</div></div>
<table>
    <tr>
        <th>Nume</th>
        <th>Email</th>
    </tr>
    {% for rider, rider_data in riders.items() %}
    <tr>
        <td>{{rider_data['name']}}</td>
        <td>{{rider_data['email']}}</td>
    </tr>
    {% endfor %}
</table>
</div>

<div style="margin-top:80px; width:40%">
    <form action="/riders" method="POST" style="font-weight: 700; font-size: 15px; ">
        Nume curier: <input type="text" name="rider_name" id="rider_name"><br>
        Email: <input type="text" name="rider_mail" id="rider_mail"><br>
        <input type="submit" value="Adaugă curierul" class="shops-button" style="width:300px; margin-left:0">
    </form>
</div>

</div>


{% endblock %}